<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dm-dien-thoai-heading" jhiTranslate="sophiaApp.dmDienThoai.home.createOrEditLabel">Create or edit a Dm Dien Thoai</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.hangSanXuat" for="field_hangSanXuat">Hang San Xuat</label>
                    <input type="text" class="form-control" name="hangSanXuat" id="field_hangSanXuat"
                           formControlName="hangSanXuat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.tenDienThoai" for="field_tenDienThoai">Ten Dien Thoai</label>
                    <input type="text" class="form-control" name="tenDienThoai" id="field_tenDienThoai"
                           formControlName="tenDienThoai"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.giaDienThoai" for="field_giaDienThoai">Gia Dien Thoai</label>
                    <input type="text" class="form-control" name="giaDienThoai" id="field_giaDienThoai"
                           formControlName="giaDienThoai"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.ngayNhap" for="field_ngayNhap">Ngay Nhap</label>
                    <input type="text" class="form-control" name="ngayNhap" id="field_ngayNhap"
                           formControlName="ngayNhap"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.ngayXuat" for="field_ngayXuat">Ngay Xuat</label>
                    <input type="text" class="form-control" name="ngayXuat" id="field_ngayXuat"
                           formControlName="ngayXuat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.daBan" for="field_daBan">Da Ban</label>
                    <input type="text" class="form-control" name="daBan" id="field_daBan"
                           formControlName="daBan"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.moTaSanPham" for="field_moTaSanPham">Mo Ta San Pham</label>
                    <input type="text" class="form-control" name="moTaSanPham" id="field_moTaSanPham"
                           formControlName="moTaSanPham"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.ghiChu" for="field_ghiChu">Ghi Chu</label>
                    <input type="text" class="form-control" name="ghiChu" id="field_ghiChu"
                           formControlName="ghiChu"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sophiaApp.dmDienThoai.hinhSanPham" for="field_hinhSanPham">Hinh San Pham</label>
                    <div>
                        <img [src]="'data:' + editForm.get('hinhSanPhamContentType')!.value + ';base64,' + editForm.get('hinhSanPham')!.value" style="max-height: 100px;" *ngIf="editForm.get('hinhSanPham')!.value" alt="dmDienThoai image"/>
                        <div *ngIf="editForm.get('hinhSanPham')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('hinhSanPhamContentType')!.value }}, {{ byteSize(editForm.get('hinhSanPham')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('hinhSanPham', 'hinhSanPhamContentType', 'file_hinhSanPham')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_hinhSanPham" (change)="setFileData($event, 'hinhSanPham', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="hinhSanPham" id="field_hinhSanPham"
                           formControlName="hinhSanPham"/>
                    <input type="hidden" class="form-control" name="hinhSanPhamContentType" id="field_hinhSanPhamContentType"
                           formControlName="hinhSanPhamContentType" />
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
