<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dmDienThoai">
            <h2><span jhiTranslate="sophiaApp.dmDienThoai.detail.title">Dm Dien Thoai</span> {{ dmDienThoai.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.hangSanXuat">Hang San Xuat</span></dt>
                <dd>
                    <span>{{ dmDienThoai.hangSanXuat }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.tenDienThoai">Ten Dien Thoai</span></dt>
                <dd>
                    <span>{{ dmDienThoai.tenDienThoai }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.giaDienThoai">Gia Dien Thoai</span></dt>
                <dd>
                    <span>{{ dmDienThoai.giaDienThoai }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.ngayNhap">Ngay Nhap</span></dt>
                <dd>
                    <span>{{ dmDienThoai.ngayNhap }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.ngayXuat">Ngay Xuat</span></dt>
                <dd>
                    <span>{{ dmDienThoai.ngayXuat }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.daBan">Da Ban</span></dt>
                <dd>
                    <span>{{ dmDienThoai.daBan }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.moTaSanPham">Mo Ta San Pham</span></dt>
                <dd>
                    <span>{{ dmDienThoai.moTaSanPham }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.ghiChu">Ghi Chu</span></dt>
                <dd>
                    <span>{{ dmDienThoai.ghiChu }}</span>
                </dd>
                <dt><span jhiTranslate="sophiaApp.dmDienThoai.hinhSanPham">Hinh San Pham</span></dt>
                <dd>
                    <div *ngIf="dmDienThoai.hinhSanPham">
                        <a (click)="openFile(dmDienThoai.hinhSanPhamContentType, dmDienThoai.hinhSanPham)">
                            <img [src]="'data:' + dmDienThoai.hinhSanPhamContentType + ';base64,' + dmDienThoai.hinhSanPham" style="max-width: 100%;" alt="dmDienThoai image"/>
                        </a>
                        {{ dmDienThoai.hinhSanPhamContentType }}, {{ byteSize(dmDienThoai.hinhSanPham) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dm-dien-thoai', dmDienThoai.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
