<div>
    <h2 id="page-heading">
        <span jhiTranslate="sophiaApp.dmDienThoai.home.title">Dm Dien Thoais</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dm-dien-thoai" [routerLink]="['/dm-dien-thoai/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sophiaApp.dmDienThoai.home.createLabel">
            Create a new Dm Dien Thoai
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

<!--    <div class="alert alert-warning" id="no-result" *ngIf="dmDienThoais?.length === 0">-->
<!--        <span jhiTranslate="sophiaApp.dmDienThoai.home.notFound">No dmDienThoais found</span>-->
<!--    </div>-->

    <div class="table-responsive" id="entities" *ngIf="dmDienThoais && dmDienThoais.length > 0" fxLayout="row wrap" class="products-wrapper">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.hangSanXuat">Hang San Xuat</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.tenDienThoai">Ten Dien Thoai</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.giaDienThoai">Gia Dien Thoai</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.ngayNhap">Ngay Nhap</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.ngayXuat">Ngay Xuat</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.daBan">Da Ban</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.moTaSanPham">Mo Ta San Pham</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.ghiChu">Ghi Chu</span></th>
                    <th scope="col" ><span jhiTranslate="sophiaApp.dmDienThoai.hinhSanPham">Hinh San Pham</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dmDienThoai of dmDienThoais ;trackBy: trackId" fxLayout="row wrap">
                    <td><a [routerLink]="['/dm-dien-thoai', dmDienThoai.id, 'view']">{{ dmDienThoai.id }}</a></td>
                    <td>{{ dmDienThoai.hangSanXuat }}</td>
                    <td>{{ dmDienThoai.tenDienThoai }}</td>
                    <td>{{ dmDienThoai.giaDienThoai }}</td>
                    <td>{{ dmDienThoai.ngayNhap }}</td>
                    <td>{{ dmDienThoai.ngayXuat }}</td>
                    <td>{{ dmDienThoai.daBan }}</td>
                    <td>{{ dmDienThoai.moTaSanPham }}</td>
                    <td>{{ dmDienThoai.ghiChu }}</td>
                    <td>
                        <a *ngIf="dmDienThoai.hinhSanPham" (click)="openFile(dmDienThoai.hinhSanPhamContentType, dmDienThoai.hinhSanPham)">
                            <img [src]="'data:' + dmDienThoai.hinhSanPhamContentType + ';base64,' + dmDienThoai.hinhSanPham" style="max-height: 30px;" alt="dmDienThoai image"/>
                        </a>
                        <span *ngIf="dmDienThoai.hinhSanPham">{{ dmDienThoai.hinhSanPhamContentType }}, {{ byteSize(dmDienThoai.hinhSanPham) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dm-dien-thoai', dmDienThoai.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dm-dien-thoai', dmDienThoai.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dmDienThoai)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
