<div class="footer">
    <div class="container">
        <div class="wrap">
            <div class="contact">
                <div class="footer-title">Thông tin liên hệ</div>
                <ul>
                    <li><i class="fal fa-map-marker-alt"></i> Số 7 Ngõ 121 Thái Hà, Đống Đa, HN (Có bãi đậu ô tô Free)</li>
                    <li><i class="fal fa-phone-volume"></i> Hotline: <span>090 154 8866 | 0246 687 5678</span></li>
                    <li><i class="fal fa-phone-volume"></i> Kỹ thuật, bảo hành: <span>0902 03 5500</span></li>
                    <li><i class="fal fa-alarm-clock"></i> Giờ làm việc: 08h30 - 22h00 <a>(Tất cả các ngày trong tuần)</a></li>
                    <li><i class="fal fa-alarm-clock"></i> Giờ tiếp nhận BH: 10h00 - 18h00 <a>(Từ thứ Hai đến thứ Sáu)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
