<div class="container">
    <ngb-carousel>
        <ng-template *ngFor="let pelicula of peliculas" ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="{{pelicula.img}}" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>{{pelicula.name}}</h3>
                <p>{{pelicula.desc}}</p>
            </div>
        </ng-template>
            <a class="carousel-control-prev" href="#carouselBasicExample" role="button" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselBasicExample" role="button" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
    </ngb-carousel>
</div>

<div class="container">
        <div *ngIf="dmSanPhams && dmSanPhams.length > 0">
            <div class="row" style="padding: 15px">
                <div *ngFor="let product of dmSanPhams">
<!--                    <div style="width: 227px; height: 266px; border: 1px solid #c5c7c5;">-->
                        <div class="column">
                            <td>
                                <a *ngIf="product.anh" (click)="openFile(product.anhContentType, product.anh)">
                                    <img [src]="'data:' + product.anhContentType + ';base64,' + product.anh" style="width: 155px; height: 200px" alt="dmSanPham image"/>
                                </a>
                            </td>
                            <div><span>{{product.gia}}</span></div>
                            <div><a><h5>{{product.ten}}</h5></a></div>
                            <div class="btn-wrap" fxLayout="row" fxLayoutAlign="space-between center">
                                <a (click)="addToCart(product)" mat-raised-button color="primary">ADD TO CART </a>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
</div>
