<div class="container">
    <div class="col-12">
        <div *ngIf="dmSanPham">
            <br>
            <h2><p><span>{{ dmSanPham.ten }}</span></p></h2>
            <hr>
            <div class="row">
                <div class="column col-md-5">
                    <div *ngIf="dmSanPham.anh" style="margin-left: 50px; margin-right: 50px;">
                        <img [src]="'data:' + dmSanPham.anhContentType + ';base64,' + dmSanPham.anh" style="width: 320px; height: 100%" alt="dmSanPham image"/>
                    </div>
                </div>
                <div class="column col-md-4">
                    <div style="border: 1px solid gray; height: 200px; padding: 10px">
                        <div>
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Giảm giá 500,000đ khi tham gia thu cũ đổi mới</span>
                        </div>
                        <div>
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Pin sạc dự phòng giảm 30% khi mua kèm.</span>
                        </div>
                        <div>
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Mua Đồng hồ thời trang giảm 40% (không kèm khuyến mãi  khác)</span>
                        </div>
                        <div>
                            <div class="logoTichXanh-img" style="width: 20px; height: 20px"></div>
                            <span>Giá hoặc khuyến mãi không áp dụng khi mua trả góp 0% qua nhà tài chính</span>
                        </div>
                    </div>
                </div>
                <div class="column col-md-3">
                    <div style="border: 1px solid gray; height: 200px; padding: 10px">
                        <div>
                            <span>
                                <div class="logoBox-img" style="width: 20px; height: 20px"></div>
                                <p>Bộ sản phẩm gồm: Phụ kiện fullbox, nguyên seal</p>
                            </span>
                        </div>
                        <div>
                        <span>
                            <div class="logoBaoHanh-img" style="width: 20px; height: 20px"></div>
                            <p>Bảo hành chính hãng 12 tháng</p>
                        </span>
                        </div>
                        <div>
                        <span>
                            <div class="logo1doi1-img" style="width: 20px; height: 20px"></div>
                            <p>Lỗi là đổi mới trong 1 tháng</p>
                        </span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dm-san-pham', dmSanPham.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
